.navbar {
    position: absolute !important; 
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: white!important;
}

.bus-active {
    color: var(--head-text)!important;
}

.bus-hero {
    position: relative;
    height: 600px;
    background: url('../assets/Bus_Service_logo.png') no-repeat center center;
    background-size: cover;
    overflow: visible;
}

.bus-hero-text {
    z-index: 2;
    padding-top: 100px;
}

.bus-large-img {
    position: absolute;
    bottom: -20%; 
    right: 0;
    width: 80%;
    z-index: 1000;
    width: 60%;
    height: 60%;
}

.info-card {
    background-color: white;
    border-radius: 20px;
    border: none;
    transition: transform 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
}

.text-main-red {
    color: var(--head-text) !important;
}

.footer {
    background-color: #e1b486;
}

@media (max-width: 991.98px) {
    .bus-hero {
        height: 600px;
    }

    .bus-large-img {
        width: 90%;
        right: 0;
        bottom: -20%;
    }

    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.95);
        padding: 20px;
        border-radius: 15px;
        margin-top: 10px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }
    .nav-link {
        color: #333 !important;
    }
}

@media (max-width: 767.98px) {
    .bus-hero {
        height: auto;
        padding: 120px 0 250px 0;
        text-align: center;
    }

    .bus-hero-text p {
        margin: 0 auto;
    }

    .bus-large-img {
        width: 70%;
        height: 70%;
        right: 0;
        bottom: -20%;
    }
    
    .info-card {
        margin-bottom: 20px;
        text-align: center;
    }

    .info-card h3 {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 575.98px) {
    .bus-hero {
        padding-bottom: 180px;
    }

    .row.g-4 {
        margin-bottom: 12px;
    }

    .bus-large-img {
        width: 100%;
        right: 0;
        bottom: -80%;
    }
}